<launch>

  <!-- project_selfdriving_kitti.launch
  Autor: Agustin Ortega
  Email: aortega.jim@gmail.com -->

  
  <!-- sync timestamps -->
  <param name="use_sim_time" value="true" />


  <!-- rosbag -->
  <node pkg="rosbag" type="play" name="rosbag"  args="$(find project_selfdriving)/data/kitti_2011_09_26_drive_0084_synced.bag --clock"/>

  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(find project_selfdriving)/config/ros2.yaml"/>
  <rosparam command="load" ns="darknet_ros" file="$(find project_selfdriving)/config/yolov3.yaml"/>

  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
  </node>

  <!-- kitty file -->
  <arg name="kitti_file_path"           default="$(find project_selfdriving)/data/kitti_file.txt"/>


  <!-- Load parameters -->
  <rosparam command="load" ns="project_selfdriving_node" file="$(find project_selfdriving)/config/cam_calib_kitti.yalm"/>
  <rosparam command="load" ns="project_selfdriving_node" file="$(find project_selfdriving)/config/settings_kitti.yalm"/>

  <node pkg="project_selfdriving" type="project_selfdriving_node" name="project_selfdriving_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="kittifile"          value="$(arg kitti_file_path)" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find project_selfdriving)/config/rvizConfig2.rviz"/>

  
  
</launch>
